body{background-color: rgb(240, 221, 128); color: rgb(20, 14, 14);}
td{border: 2px solid black;}
p{background-color: aqua;}
a{background-color: rgb(119, 255, 0);}
nav{background-color: aqua;color: rgb(231, 5, 5);}
